<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/static/style/default.css" >
  <link rel="stylesheet" href="/static/index.css" >
</head>
<body>
  <!-- <%arr.forEach(a=>{%>
    <li><%=a%></li>
  <%})%> -->
  <div>
    <aside class="main-aside">a side
      <%- asidHTML %>
    </aside>
    <section class="main-box">
      <%- mainHtml %>
    </section>
  </div>
</body>
</html>