body {
}
.main-aside {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: scroll;
}
.main-box {
  margin-left: 300px;
  padding-left:40px;
  padding-right: 100px;
}
.deal-mark {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.main-aside a {
  color: #353535;
}
.main-aside .active > a {
  color: #075DB3;
}
.main-box img {
  max-width: 100%;
}
code {
  color: #c7254e;
}
pre code {
  color: inherit;
}